* {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS;
}

body{
    background-color: #ECECEC;
	min-height: 100%;
}

title {
	display: none;
}
    
@media (max-width: 100%){
    .welcometraveler-bar{
    height: unset !important;
    }   
    *, :after, :before{
    box-sizing: border-box;
    }
}
    
.wrapper_top_bar{
    background-color:#D4F9F8;
    height: 20px;
    width:100%;
    margin: 0;
    padding: 0;
}
    
.container_top_bar{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color:#D4F9F8;
    padding: 3px 3vw;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Jost Bold";
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .09375rem;
    text-transform: uppercase;
}

.text_top_bar {
    padding: 10px;
    color: black;
}

header {
	display: flex;
	width: 100%;
	background: white;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;
	border-bottom: 2px solid gray;
}

header .logo {
	cursor: pointer;
}

header nav {
	display: flex;
	list-style: none;
	margin: auto 0;
	align-items: center; /*这个问题*/
}

header nav li {
	margin: 0 2px;
}

header nav li a {
	color: black;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding: 5px 10px;
}

header nav li:hover a {
	background: black;
	color:white;
}

header .search_box {
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;
}

header .search_box input {
	border: 2px solid gray;
	outline: none;
	background: white;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 350px;
}

header .search_box .search_button {
	font-size: 20px;
	background: white;
	height: 100%;
	padding: 8px;
	position:  relative;
	cursor: pointer;
	z-index: 1;
	border: none;
}

header .search_box .search_button::after {
	height: 100%;
	width: 0%;
	content: '';
	background:black;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	transition: 0.3s;
}

header .search_box .search_button:hover::after {
	width: 100%;
}

header .bar {
	position: relative;
	margin: auto;
	display: none;
}

header .bar span {
	position: absolute;
	color: black;
	font-size: 35px;
}

input[type="checkbox"] {
	display: none;
}

header .logo {
	display: flex;
}

.logo .h1 a {
	font-size: 15px;
	text-align: left;
	text-decoration: none;
	list-style-type: none;
	color: black;
	display: inline-block;
}
    
.logo img {
	height: 40px;
	max-width: 100%;
}

.search_button img {
	height: 23px;
	max-width: 100%;
}

/* for the phone number item*/
header nav li:nth-child(3) {
    display: flex;
}

header nav li:nth-child(3) a {
    margin-left: 0px;
    height: 40px;
}

header nav li:nth-child(3) .img-container {
    margin-left: 5px;
    height: auto;
}

header nav li:nth-child(3) .img-container img {
    width: auto;
    height: 40px;
    vertical-align: middle;
	margin-top: 8px;
}

header nav li:hover a {
	background: black;
	color:white;
}

header nav li:nth-child(3):hover {
    background-color: black;
}

header nav li:nth-child(3):hover a {
    color: white;
}

header nav li:nth-child(3):hover .img-container img {
    filter: grayscale(100%); /* Apply a grayscale filter to the image on hover */
}


/* this is for header-2 start */
.background-1{
    height: 310px;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
	z-index: -2;
}

.header-2 {
	position: relative;
	top: 0; left: 0; right: 0;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-2 .nav2 ul {
	list-style: none;
}

.header-2 .nav2 ul li {
	position: relative;
	float: left;
}

.header-2 .nav2 ul li a {
	font-size: 18px;
	padding: 20px;
	left: 0;
	color: black;
	display: block;
	width: 100%;
	text-decoration: none;
	cursor: pointer;
}

.header-2 .nav2 ul li a:hover,
.header-2 .nav2 ul li:hover > a {
  background-color: white;
}

.header-2 .nav2 ul li a::before {
	content: "";
	position: absolute;
	background-color: black;
	height: 3px;
	width: 0;
	left: 2%;
	bottom: 13px;
	transition: 0.3s all ease-in-out;
}

.header-2 .nav2 ul li a:hover::before {
	width: 80%;
	left: 7%;
}

.header-2 .nav2 ul li ul {
	position: absolute;
	left: 0;
	display: none;
	background-color: rgba(255,255,255,0.3);
	backdrop-filter: blur(5px);
}

.header-2 .nav2 ul li ul li {
	width: 100%;
}

.header-2 .nav2 ul li:focus-within > ul,
.header-2 .nav2 ul li a:focus-within > ul,
.header-2 .nav2 ul li:hover > ul {
	display: block;
}

#menu-bar {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
}

.header-2 label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}
/* header-2 End */


/* this is for the content-1*/
.content-1 {
	display: flex;
	align-items: center;
}

.body-1 {
	color: black;
	text-align: center;
	height: 100px;
	width: 100%;
	position: relative;
	top: 260px;
	font-size: 18px;
	margin-bottom: 20px;
	cursor: pointer;
}

/* this is for the content-2*/
.content-2 {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.places-2 {
	border: 2px solid black;
	padding: 20px;
	box-sizing: border-box;
	margin-right: 30px;
	position: relative;
	top: 260px;
	right: 25px;
	left: 25px;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	max-width: 80%;
	margin-bottom: 50px;
	background-color: white;
	cursor: pointer;
}

.places-2 img {
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-top: -80px;
	margin-left: 5px;
}



/* this is for content-3 */
.content-3 {
	margin: 20px;
}

.places-3 {
	border: none;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	top: 220px;
	left: 20px;
	align-items: center;
	width: 98.2%;
	margin-bottom: 30px;
	margin-left: 0px;
	background-color: white;
	display: flex;
	cursor: pointer;
}

.places-3 img {
	background-size: cover;
	background-position: center;
	width: 100%;
	margin-left: 60px;
	width: 450px; 
	height:300px; 
	border-radius: 12px;
}

.text-3 {
	margin: 20px;
	font-size: 14px;
}

.text-3 h1 a {
	font-size: 25px;
	text-decoration: none;
	color: black;
	list-style: none;
}

.text-3 h2, h3, h4 {
	margin-top: 8px;
}

.text-3 h2, h3, h4 {
	font-size: 18px;
}


/* this is for footer */
.footer-container {
	max-width: 1170px;
	margin: auto;
	height: 100%;
}

.footer-col ul {
	list-style: none;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footer {
	background-color: #24262b;
	color: black;
	padding: 20px 0;
	margin-top: 240px;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	margin-top: 20px;
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
	cursor: pointer;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgb(0, 154, 250);
	height: 2px;
	box-sizing: border-box;
	width: 80%;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	font-weight: 300;
	color: green;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: white;
	padding-left: 10px;
}

.footer .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: grey;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
	color: black;
	background-color: white;
}

.copyright {
    width: 100%;
    background-color: black;
    height: 60px;
    text-align: center;
    padding: 15px;
}

.copyright p {
    color: white;
}
/* FOOTER END */



/* this is for footer start */
@media(max-width: 767px) {
	.footer {
		background-color: #24262b;
		color: black;
		padding: 20px 0;
		margin-top: 240px;
	}

	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}

	.footer-col h4::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgb(0, 154, 250);
		height: 2px;
		box-sizing: border-box;
		width: 40%;
	}
}

@media screen and (max-width: 660px) {
	.footer {
		background-color: #24262b;
		color: black;
		padding: 20px 0;
		margin-top: 280px;
	}

	.footer-col h4::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgb(0, 154, 250);
		height: 2px;
		box-sizing: border-box;
		width: 40%;
	}
}

@media screen and (max-width: 650px) {
	.footer {
		background-color: #24262b;
		color: black;
		padding: 20px 0;
		margin-top: 230px;
	}

	.footer-col h4::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgb(0, 154, 250);
		height: 2px;
		box-sizing: border-box;
		width: 40%;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}

	.footer-col h4::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgb(0, 154, 250);
		height: 2px;
		box-sizing: border-box;
		width: 30%;
	}
}
/* footer end */

/* this is for content-3 start */
@media screen and (max-width: 890px) {
	.content-3 {
		margin: 20px;
	}
	
	.places-3 {
		border: none;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
		top: 220px;
		left: 20px;
		align-items: center;
		width: 95.5%;
		margin-bottom: 30px;
		margin-left: 0px;
		background-color: white;
		flex-direction: column;
	}
	
	.places-3 img {
		background-size: cover;
		background-position: center;
		width: 100%;
		margin-left: 0px;
		width: 600px; 
		height: 320px; 
		border-radius: 12px;
		order: -1;
	}

	.text-3 {
		margin-top: 20px;
	}
}

@media screen and (max-width: 706px) {
	.content-3 {
		margin: 20px;
	}
	
	.places-3 {
		border: none;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
		top: 220px;
		left: 20px;
		align-items: center;
		width: 95.5%;
		margin-bottom: 30px;
		margin-left: 0px;
		background-color: white;
		flex-direction: column;
	}
	
	.places-3 img {
		background-size: cover;
		background-position: center;
		width: 100%;
		margin-left: 0px;
		width: 450px; 
		height: 300px; 
		border-radius: 12px;
		order: -1;
	}

	.text-3 {
		margin-top: 20px;
	}
}

@media screen and (max-width: 660px) {
	.content-3 {
		margin: 20px;
	}
	
	.places-3 {
		border: none;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
		top: 250px;
		left: 20px;
		align-items: center;
		justify-content: space-between;
		width: 95.5%;
		margin-bottom: 30px;
		margin-left: 0px;
		background-color: white;
	}
	
	.places-3 img {
		background-size: cover;
		background-position: center;
		width: 100%;
		margin-left: 0px;
		width: 450px; 
		height: 300px; 
		border-radius: 12px;
		order: -1;
	}

	.text-3 {
		margin-top: 20px;
	}
}

@media screen and (max-width: 650px) {
	.content-3 {
		margin: 20px;
	}
	
	.places-3 {
		border: none;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
		top: 200px;
		left: 20px;
		align-items: center;
		justify-content: space-between;
		width: 95.5%;
		margin-bottom: 30px;
		margin-left: 0px;
		background-color: white;
	}
	
	.places-3 img {
		background-size: cover;
		background-position: center;
		width: 100%;
		margin-left: 0px;
		border-radius: 12px;
		order: -1;
	}

	.text-3 {
		margin-top: 20px;
	}
}
/* content-3 end */

/* this is for content-2 start */
@media screen and (max-width: 1450px) {
	.content-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.places-2 {
		margin-bottom: 20px;
		width: calc(40% - 20px);
		box-sizing: border-box;
		top: 240px;
		margin-bottom: 70px;
	}

	.place-2:last-child(3) {
		order: 1;
		width: 100%;
		margin-top: 20px;
	}

	.places-2 img {
		margin-top: -60px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
}

@media screen and (max-width: 660px) {
	.content-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.places-2 {
		margin-bottom: 20px;
		width: 100%;
		box-sizing: border-box;
		top: 250px;
		margin-bottom: 70px;
	}

	.place-2:last-child(3) {
		order: 1;
		width: 100%;
		margin-top: 0px;
	}

	.places-2 img {
		margin-top: -60px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
}

@media screen and (max-width: 650px) {
	.content-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.places-2 {
		margin-bottom: 20px;
		width: 100%;
		box-sizing: border-box;
		top: 250px;
		margin-bottom: 70px;
	}

	.place-2:last-child(3) {
		order: 1;
		width: 100%;
		margin-top: 0px;
	}

	.places-2 img {
		margin-top: -60px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
}
/* content-2 end*/

/* this is for content-1 */
@media screen and (max-width: 650px) {
	.content-1 {
		display: flex;
		align-items: center;
	}

	.body-1 {
		color: black;
		text-align: center;
		height: 100px;
		width: 100%;
		position: relative;
		font-size: 18px;
		margin-bottom: 20px;
		top: 270px;
		z-index: -2;
	}
}

/* this is for header */
@media screen and (max-width: 1250px) {
	header{
		display: block;
		padding: 0;
		background-color: white;
		width: 100%;
	}
	header .logo {
		display:block;
		padding: 15px 30px;
		text-align: left;
		background-color: white;
	}

	header .search_box {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
		background-color: white;
	}

	header .search_box input {
		width: 90%;
	}

	header nav {
		display: flex;
		flex-direction: column;
		height: 100%;
		visibility: hidden;
		transition: 0.3s;
		width: 320px;
		align-self: flex-end;
		background: white;
		align-items: normal;
		position: absolute;
		right:0;
		z-index: 1;
	}

	header nav li {
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		transition: 0.01s 0.001s all;
		opacity: 0;
	}

	header nav li:nth-child(1) {
		transform: translateX(-50px);
	}

	header nav li:nth-child(2) {
		transform: translateX(-100px);
	}

	header nav li:nth-child(3) {
		transform: translateX(-150px);
	}

	header nav  li a {
		color: black;
		font-size: 22px;
		padding: 20px;
		display: block;
	}

	header .bar {
		display: block;
		position: absolute;
		top: 20px;
		right: 60px;
		cursor: pointer;
	}

	header .bar #close {
		display: none;
	}

	#check:checked ~ header .bar #close {
		display: block;
	}

	#check:checked ~ header .bar #bars {
		display: none;
	}

	#check:checked ~ header nav {
		visibility: visible;
		height: 220px;
	}

	#check:checked ~ header nav li:nth-child(1),
	#check:checked ~ header nav li:nth-child(2),
	#check:checked ~ header nav li:nth-child(3) {
		transform: translate(0);
		opacity: 1;
	}

    
	/*make a note for complete a full user interface*/
	header .logo img {
        display: inline-block;
        vertical-align: middle; /* Align the image vertically with the text */
        max-width: 100%;
        height: 40px;
    }

    header .logo .h1 {
        display: inline-block;
        vertical-align: middle; /* Align the text vertically with the image */
        font-size: 15px; /* Adjust the font size as needed */
        margin-right: 5px; /* Adjust the margin as needed */
    }
	
	header nav li:nth-child(3) {
		display: flex;
	}

	header nav li:nth-child(3) a {
		margin-left: 40px;
		height: auto;
	}

	header nav li:nth-child(3):hover {
		background-color: black;
	}
	
	header nav li:nth-child(3):hover a {
		color: white;
	}

	header nav li:hover .img-container img {
        filter: grayscale(100%);
    }
	
	header nav li:nth-child(3) .img-container img {
		width: auto;
		height: 40px;
		vertical-align: middle;
		margin-top: 5px;
		margin-right: -65px;
	}
}

@media screen and (max-width: 530px) {
	header{
		display: block;
		padding: 0;
		background-color: white;
		width: 100%;
	}
	header .logo {
		display:block;
		padding: 15px 30px;
		text-align: left;
		background-color: white;
	}

	header .search_box {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
		background-color: white;
	}

	header .search_box input {
		width: 90%;
	}

	header nav {
		display: flex;
		flex-direction: column;
		height: 0;
		visibility: hidden;
		transition: 0.3s;
		width: 35%;
		align-self: flex-end;
		margin-left: auto;
		background: white;
		align-items: normal;
		position: absolute;
		right:0;
		z-index: 1;
	}

	header nav li {
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		transition: 0.01s 0.001s all;
		opacity: 0;
	}

	header nav li:nth-child(1) {
		transform: translateX(-50px);
	}

	header nav li:nth-child(2) {
		transform: translateX(-100px);
	}

	header nav li:nth-child(3) {
		transform: translateX(-150px);
	}

	header nav  li a {
		color: black;
		font-size: 16px;
		padding: 20px;
		display: block;
	}

	header .bar {
		display: block;
		position: absolute;
		top: 20px;
		right: 60px;
		cursor: pointer;
	}

	header .bar #close {
		display: none;
	}

	#check:checked ~ header .bar #close {
		display: block;
	}

	#check:checked ~ header .bar #bars {
		display: none;
	}

	#check:checked ~ header nav {
		visibility: visible;
		height: 180%;
	}

	#check:checked ~ header nav li:nth-child(1),
	#check:checked ~ header nav li:nth-child(2),
	#check:checked ~ header nav li:nth-child(3) {
		transform: translate(0);
		opacity: 1;
	}

    
	/*make a note for complete a full user interface*/
	header .logo img {
        display: inline-block;
        vertical-align: middle; /* Align the image vertically with the text */
        max-width: 100%;
        height: 40px;
    }

    header .logo .h1 {
        display: inline-block;
        vertical-align: middle; /* Align the text vertically with the image */
        font-size: 15px; /* Adjust the font size as needed */
        margin-right: 5px; /* Adjust the margin as needed */
    }
	
	header nav li:nth-child(3) {
		display: flex;
	}

	header nav li:nth-child(3) a {
		margin-left: 40px;
		height: auto;
	}

	header nav li:nth-child(3):hover {
		background-color: black;
	}
	
	header nav li:nth-child(3):hover a {
		color: white;
	}

	header nav li:hover .img-container img {
        filter: grayscale(100%);
    }
	
	header nav li:nth-child(3) .img-container img {
		width: auto;
		height: 40px;
		vertical-align: middle;
		margin-top: 5px;
		margin-right: -65px;
	}
}
/* header end */


/* this is for header 2 */
@media screen and (max-width: 940px) {
	.header-2 .nav2 ul li a {
		font-size: 14px;
		padding: 10px;
		left: 0;
		color: black;
		display: block;
		width: 100%;
	}

	.header-2 .nav2 ul li a::before {
		content: "";
		position: absolute;
		background-color: black;
		height: 3px;
		width: 0;
		left: 2%;
		bottom: 5px;
		transition: 0.3s all ease-in-out;
	}
	
	.header-2 .nav2 ul li a:hover::before {
		width: 80%;
		left: 7%;
	}
}


@media screen and (max-width: 690px) {
	.header-2 {
		padding: 20px;
	}

	.header-2 label {
		display: block;
	}

	.header-2 .nav2 {
		position :absolute;
		top: 20px;
		left: 90px;
		right: 0;
		background: transparent;
		display: none;
		width: 50%;
		color: black;
	}

	.header-2 .nav2 ul li {
		width : 100%;
		background-color: white;
	}

	.header-2 .nav2 ul li ul {
		position: relative;
		width: 100%;
	}

	#menu-bar:checked ~ .nav2 {
		display:block;
	}

	.header-2 .nav2 ul li ul li {
		width: 50%;
	}

	.header-2 .nav2 ul li a::before {
		content: "";
		position: absolute;
		background-color: black;
		height: 3px;
		width: 0;
		left: 2%;
		bottom: 5px;
		transition: 0.3s all ease-in-out;
	}
	
	.header-2 .nav2 ul li a:hover::before {
		width: 80%;
		left: 4%;
	}
}
/* header 2 end */


/* header start #just make more completed */
@media screen and (max-width: 426px) {
	header .logo {
		display: block;
		text-align: left;
	}

	header .logo img {
		max-width: 100%;
		height: 30px;
		margin-left: -20px;
	}

	header .logo .h1 {
		font-size: 12px;
		margin-right: 3px;
	}
}
/* header end */ 
